body{
    background: linear-gradient(to right, #88bbd1, #8955f8); /* Adjust the color values as needed */

}
.container{
    width: 40%;
    margin-top: 50px;
    background: linear-gradient(to right, #5fce53, #c96642);    border: 2px solid rgb(114, 107, 107);
    padding: 30px;
    border-radius: 10px;
}

h2{
    text-align:center;
    color:rgb(13, 13, 14)
}

.form-group{
    display: flex;
    flex-direction:row;
    margin:20px;
    width:auto;
}

button{
    margin-left: 10px;
    background-color: transparent;
    color: rgb(12, 12, 12);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    font-weight: bold;
    cursor: pointer;
}

.list{
    margin-top: 30px !important;

}
li{
    margin-bottom: 15px;
    margin-left: -12px;
    background: linear-gradient(to right, #5d715b, #8eb87c);    border: none;
    color: white !important;
    border: none !important;
    list-style-type: none;
    border-radius: 3px;
    padding: 10px;
}

.list-items{
    display: flex;
}

.list-items .list-item-list{
    flex:1 ;
}
.list-items .list-items-icons{
    padding-left: 5px;
    font-size: 25px;
    cursor: pointer;
}

.error-message{
    color: red;
    text-align: center;
}
#complete{
    color: aqua;
}
#delete{
    color: rgb(216, 18, 18);
}
#edit{
    color: white;
}

#list-item{
    text-decoration: line-through;
    opacity: 0.3;
}